@helper GetTreeView(List<ProductChainManagement.ViewModels.ClientChainViewModel> siteMenu, int parentID){
    foreach (var i in siteMenu.Where(a=>a.ParentId.Equals(parentID)))
    {
        <li>
            @{var submenu = siteMenu.Where(a => a.ParentId.Equals(i.ClientID)).Count();}
            @if (submenu > 0)
	        {
		        <span class="collapse collapsible">&nbsp;</span>
	        }
            else
	        {
                <span style="width:15px; display:inline-block">&nbsp;</span>
	        }
                <span>
                    @*<a href="@i.Name">@i.Name</a>*@
                    <a>@i.Name</a>
                </span>
            @if (submenu > 0)
	        {
                <ul>
                    @Treeview.GetTreeView(siteMenu,i.ClientID) 
                    @* Recursive  Call for Populate Sub items here*@
                </ul>
	        }
        </li>
    }
}
