<body style="background-color:antiquewhite">
    <h1>
        Terms & Conditions
    </h1>
    <div style="font-size:x-large">
        1. The Scheme is subject to market risk. Please understand the whole scheme carefully.<br />
        2. Applicants will receive a parcel of selected goods within 10 working days.<br />
        3. Any Complaint regarding with quality of the product can be launched to the company within 7 days of delivery of the product.<br />
        4. All the product are tested & verified by the company.<br />
        5. For first 2 reference made by the applicant will liable him/her for 50% cash back of his own product value.<br />
        6. For further references more than 2, if the applicant has choosen the 'Member' option, <br />
        &nbsp; &nbsp; he/she will get the proper dividend announced by the company time to time.<br />
        7. By choosing option 'Member' applicant has to take efforts to refer the products to maximum people.<br />
        8. All the payments will be done on monthly basis.<br />
        9. In case of any dispute matter shall be refer to arbitrator Adv. Pritam Nigade appointed by both the parties.<br />
        10. All dispute shall be resolved in 'Pune Jurisdiction' only.
    </div>
</body>
